/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Correct the line height in all browsers.
 */
html {
  line-height: 1.15;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  -webkit-text-decoration-skip: objects;
}

/**
 * Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

:root {
  --main-text-color: #555555;
  --section--dark-bg-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --title-color: #303030;
  --section--dark-bg-color: #191c26;
  --second-bg-color: #f7f7f7;
  --title-font: "Raleway", sans-serif;
  --grid__item: 2;
  --animation: 300ms ease-in;
}

.button--light, .title--light {
  --title-color: #ffffff;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--animation);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.content-box {
  flex-basis: calc((100% - 30px) / 2);
}

.line::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  min-width: 160px;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--title-color);
  background-color: transparent;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation);
}

.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.button--disabled {
  color: grey;
  background-color: lightgrey;
  border-color: grey;
}

.menu {
  display: inline-flex;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

@media screen and (max-width: 767.98px) {
  .menu--desktop {
    display: none;
  }
}

.socials-list {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-color);
}

.socials-list__item:not(:last-child) {
  margin-right: 40px;
}

.socials-list--rotate {
  transform: rotate(-90deg) translateX(50%);
}

.social-icons {
  display: inline-flex;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
  transition: fill var(--animation);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--accent-color);
}

.logo {
  display: block;
}

.title {
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--title-color);
  margin-bottom: 20px;
}

.title-label {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 20px;
}

.title-label--light {
  --title-color: rgba(157, 164, 189, 0.6);
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__field {
  width: calc((100% - 30px) / 2);
  padding-bottom: 8px;
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.form__field:focus {
  outline: none;
  border-bottom-color: #fff;
}

.form__field:focus::placeholder, .form__field-text:focus {
  color: var(--second-bg-color);
}

.form__field:-webkit-autofill, .form__field:-webkit-autofill:hover, .form__field:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px var(--section--dark-bg-color) inset;
}

.form__field::placeholder, .form__field-text {
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.form__field:valid:not(:focus) {
  color: green;
}

.form__field:invalid:not(:focus) {
  color: red;
}

.form__message {
  resize: none;
  width: 100%;
}

.form__field-text {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s linear;
}

.form__field-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  margin-right: 20px;
  stroke: rgba(157, 164, 189, 0.4);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 120;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.603);
  opacity: 1;
  transition: opacity 500ms ease-out 200ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(100%, 100%) scale(0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 550px;
  min-height: 450px;
  padding: 40px 30px;
  border-radius: 30px;
  transition: transform 700ms ease-in-out 300ms;
}

.modal__btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50%;
}

.modal__title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.modal-form__field-label {
  width: calc((100% - 30px) / 2);
  margin-bottom: 44px;
}

.modal-form__field {
  width: 100%;
  margin-bottom: 0;
  padding-left: 20px;
}

.modal-form__field:not(:placeholder-shown) ~ .form__field-text {
  top: 0;
  left: 10px;
  font-size: 10px;
  transform: translateY(-100%);
}

.modal-form__field:focus + .form__field-icon {
  stroke: #fff;
}

.modal-form__message {
  margin-bottom: 44px;
}

.modal-form__field-label {
  position: relative;
}

.mobile-menu-btn {
  position: relative;
  z-index: 105;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.icon-close {
  display: none;
}

.is-open .icon-close {
  display: block;
}

.is-open .icon-menu {
  display: none;
}

.mobile-menu-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 100%;
  max-width: 340px;
  height: 100vh;
  padding: 118px 40px 60px;
  background: #ffffff;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
  color: var(--main-text-color);
  transition: right 0.5s;
}

.mobile-menu.is-open {
  right: 0;
}

.mobile-menu .menu {
  flex-direction: column;
  font-size: 18px;
}

.mobile-menu .menu__item {
  margin-bottom: 24px;
}

.mobile-overlay {
  width: 100%;
  height: 100vh;
  background: rgba(25, 28, 38, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin-left: 30px;
  margin-top: 30px;
  background-color: lightblue;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section__title {
  font-size: 42px;
  line-height: 1.167;
}

.section--dark-bg {
  background-color: var(--section--dark-bg-color);
  color: var(--section--dark-bg-text-color);
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__logo {
  margin-right: 70px;
}

.header__button {
  color: #fff;
  margin-left: 40px;
  border-color: currentColor;
  animation-iteration-count: infinite;
  animation-duration: 2500ms;
  animation-name: sos;
}

@keyframes sos {
  0% {
    background-color: var(--accent-color);
    transform: scale(1);
  }
  50% {
    background-color: red;
    transform: scale(1.2);
  }
  100% {
    background-color: var(--accent-color);
    transform: scale(1);
  }
}

@media screen and (max-width: 767.98px) {
  .header__contacts-wrap {
    display: none;
  }
}

.hero {
  display: flex;
  align-items: center;
}

.hero__container {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-image: url(../images/hero/slider-img-3.jpg);
  background-repeat: no-repeat;
  background-position: 115px 0;
}

.hero__content {
  width: calc(100% / 12 * 5);
  max-width: 500px;
  margin-left: 200px;
  padding-top: 272px;
  padding-bottom: 206px;
}

.hero__sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 115px;
  padding-bottom: 40px;
  background-color: #fff;
}

.hero__title {
  font-size: 72px;
  line-height: 1.18;
}

.price {
  background-image: url(../images/price/bg-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/bg-mobile@2x.png);
  }
}

@media screen and (min-width: 480px) {
  .price {
    background-image: url(../images/price/bg-tablet.png);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/bg-tablet@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .price {
    background-image: url(../images/price/bg.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/bg@2x-desktop.png);
  }
}

@media screen and (min-width: 1200px) {
  .price__wrap {
    display: flex;
  }
}

.price__list {
  flex-basis: 50%;
  padding: 30px 40px;
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price__list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price__item {
  display: flex;
  justify-content: space-between;
}

.price__item-serv {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.price__item-serv::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price__item:not(:last-child) {
  margin-bottom: 20px;
}

.benefits__item {
  flex-basis: calc((100% - 2 * 30px) / 6 * 2);
  padding: 20px 18px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
  background-color: var(--second-bg-color);
}

.benefits__item:nth-child(odd) {
  /* position: relative; */
  /* bottom: -35px; */
  transform: translateY(-17.5px);
}

.benefits__item:nth-child(even) {
  transform: translateY(17.5px);
}

.benefits__number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.benefits__number > sup {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  vertical-align: super;
}

.team {
  background-color: var(--second-bg-color);
}

.team__item {
  --grid__item: 1;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__item {
    --grid__item: 3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-list {
    justify-content: center;
  }
  .team__item {
    max-width: 450px;
  }
}

.team__member {
  font-size: 18px;
  line-height: 1.39;
  color: var(--title-color);
}

.team__member-position {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
}

.gallery__item {
  --grid__item: 1;
  background-color: grey;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    --grid__item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    --grid__item: 4;
  }
}

.contact-us:focus-within .section__title {
  color: var(--accent-color);
}

.contacts {
  padding-left: 100px;
  padding-right: 100px;
  background-image: url(../images/contacts/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.contacts__address {
  margin-bottom: 70px;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
}

.contacts-list__link .icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  stroke: var(--section--dark-bg-text-color);
}

.contacts-list__link:hover .icon,
.contacts-list__link:focus .icon {
  stroke: var(--accent-color);
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--section--dark-bg-text-color);
}
/*# sourceMappingURL=styles.css.map */