@import "./vendors/modern-normalize";
@import "./utils/variables";
@import "./utils/placeholder";
@import "./utils/mixin";
@import "./base/fonts";
@import "./base/common";
@import "./base/container";
@import "./components/button";
@import "./components/menu";
@import "./components/socials-list";
@import "./components/socials-icons";
@import "./components/logo";
@import "./components/title";
@import "./components/title-label";
@import "./components/form";
@import "./components/modal";
@import "./components/modal-form";
@import "./components/mobile-menu";
@import "./layouts/grid";
@import "./layouts/navigation";
@import "./layouts/section";
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/about";
@import "./layouts/price";
@import "./layouts/benefits";
@import "./layouts/team";
@import "./layouts/gallery";
@import "./layouts/contact-us";
@import "./layouts/contacts";
@import "./layouts/footer";
