.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 120;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.603);
  opacity: 1;
  transition: opacity 500ms ease-out 200ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(100%, 100%) scale(0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 550px;
  min-height: 450px;
  padding: 40px 30px;
  border-radius: 30px;
  transition: transform 700ms ease-in-out 300ms;
}

.modal__btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50%;
}

.modal__title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
