.socials-list {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-color);
}

.socials-list__item:not(:last-child) {
  margin-right: 40px;
}

.socials-list--rotate {
  transform: rotate(-90deg) translateX(50%);
}
