html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 2px solid red;
}

body {
  font-family: "Open Sans", sans-serif;
  // font-size: 18px;
  // line-height: 1.67;
  // letter-spacing: 0.02em;
  @include fonts(18px, 400, 1.67);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.content-box {
  flex-basis: calc((100% - 30px) / 2);
}

.line::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}
