:root {
  --main-text-color: #555555;
  --section--dark-bg-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --title-color: #303030;
  --section--dark-bg-color: #191c26;
  --second-bg-color: #f7f7f7;
  --title-font: "Raleway", sans-serif;
  --grid__item: 2;

  --animation: 300ms ease-in;
}
