.benefits__item {
  flex-basis: calc((100% - 2 * 30px) / 6 * 2);
  padding: 20px 18px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
  background-color: var(--second-bg-color);
}

.benefits__item:nth-child(odd) {
  /* position: relative; */
  /* bottom: -35px; */
  transform: translateY(-17.5px);
}

.benefits__item:nth-child(even) {
  transform: translateY(17.5px);
}

.benefits__number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.benefits__number > sup {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  vertical-align: super;
}
