.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--section--dark-bg-text-color);
}
