.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin-left: 30px;
  margin-top: 30px;
}
