.price {
  background-image: url(../images/price/bg-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/price/bg-mobile@2x.png);
  }

  @media screen and (min-width: 480px) {
    background-image: url(../images/price/bg-tablet.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/price/bg-tablet@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/price/bg.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/price/bg@2x-desktop.png);
    }
  }
}

@media screen and (min-width: 1200px) {
  .price__wrap {
    display: flex;
  }
}

.price__list {
  flex-basis: 50%;
  padding: 30px 40px;
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price__list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price__item {
  display: flex;
  justify-content: space-between;
}

.price__item-serv {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.price__item-serv::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price__item:not(:last-child) {
  margin-bottom: 20px;
}
