.team {
  background-color: var(--second-bg-color);
}

.team__item {
  --grid__item: 1;
  text-align: center;

  @media screen and (min-width: 1200px) {
    --grid__item: 3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-list {
    justify-content: center;
  }
  .team__item {
    max-width: 450px;
  }
}

.team__member {
  font-size: 18px;
  line-height: 1.39;
  color: var(--title-color);
}

.team__member-position {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
}
